<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ArchiMate.actionSet"
            label="ArchiMate"
            visible="true">
         <menu
               label="ArchiMate"
               id="archiMateMenu">
            <separator
                  name="archiMateGroup">
            </separator>
         </menu>
         <action
               class="archimate.actions.GenerateCode"
               icon="icons/spiral.png"
               id="ArchiMate.Menu.GenerateCode"
               label="Generate Code"
               menubarPath="archiMateMenu/archiMateGroup"
               tooltip="Generate Code">
         </action>
         <action
               class="archimate.actions.Validate"
               icon="icons/spiral.png"
               id="ArchiMate.Menu.Validate"
               label="Validate"
               menubarPath="archiMateMenu/archiMateGroup"
               tooltip="Validate">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ArchiMate.UMLEditorContribution"
            targetID="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         <action
               class="archimate.actions.GenerateCode"
               icon="icons/spiral.png"
               id="ArchiMate.UMLEditor.GenerateCode"
               label="Generate Code"
               menubarPath="additions-end">
         </action>
         <action
               class="archimate.actions.Validate"
               icon="icons/spiral.png"
               id="ArchiMate.UMLEditor.Validate"
               label="Validate"
               menubarPath="additions-end">
         </action>
      </viewerContribution>
      <viewerContribution
            id="ArchiMate.GMFEditorContribution"
            targetID="org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <action
               class="archimate.actions.GenerateCode"
               icon="icons/spiral.png"
               id="ArchiMate.GMFEditor.GenerateCode"
               label="Generate Code"
               menubarPath="additions">
         </action>
         <action
               class="archimate.actions.Validate"
               icon="icons/spiral.png"
               id="ArchiMate.GMFEditor.Validate"
               label="Validate"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>

</plugin>
